# Imports

In [1]:
import os
import shutil

from PAL import *
engine = Redshift_Connection('ssopariwalla')

In [2]:
schema = account_schema_mapping['MTS']

# Pull OI Alerts

In [3]:
query = f"""
SELECT DISTINCT
    event_table.event_id,
    vehicle_meta_data.vehicle_id,
    event_type,
    event_table.unique_id,
    event_table.pressure_date,
    CASE
        WHEN event_status.status = 'CLOSED' THEN event_status.ts_created
        ELSE NULL
    END as ts_closed
FROM 
    {schema}.event_table INNER JOIN {schema}.event_status
        ON event_table.event_id = event_status.event_id
    INNER JOIN {schema}.meta_data
        ON meta_data.unique_id = event_table.unique_id
    INNER JOIN {schema}.vehicle_meta_data
        ON vehicle_meta_data.vehicle_id = meta_data.vehicle_id
WHERE
    event_type = 'OI'
    AND event_table.pressure_date >= '2025-05-13 06:00'
    AND event_status.event_status_id IN (SELECT MAX(event_status_id) FROM {schema}.event_status GROUP BY event_id)
    AND meta_data.id IN (SELECT MAX(id) FROM {schema}.meta_data WHERE active = 1 GROUP BY unique_id)
ORDER BY
    event_table.event_id ASC
"""
OI_alerts = pd.read_sql(query,engine)

In [4]:
OI_alerts

,event_id,vehicle_id,event_type,unique_id,pressure_date,ts_closed
0,3268077,5070,OI,5457_D5D505,2025-05-13 15:08:30,NaT
1,3268124,5070,OI,5457_758986,2025-05-13 16:17:13,NaT
2,3268349,3980,OI,4103_8E8D09,2025-05-13 21:39:57,2025-05-13 22:16:30
3,3268423,8080,OI,15169_B0F4D6DC,2025-05-14 00:54:20,NaT
4,3268810,5067,OI,5454_D5D83F,2025-05-14 20:50:08,NaT
5,3268840,4084,OI,4120_1F650C,2025-05-14 21:59:38,2025-05-15 00:31:48
6,3268845,5189,OI,5608_D5D5FA,2025-05-14 22:22:28,NaT
7,3269047,6700,OI,12324_B0A3A4E8,2025-05-15 11:05:32,NaT
8,3269320,10439,OI,24171_1003FC00_2,2025-05-15 16:59:33,NaT
9,3269322,10439,OI,24171_1004CA15_3,2025-05-15 12:49:11,NaT
10,3269324,10439,OI,24171_1004F969_2,2025-05-15 13:29:35,NaT
11,3269326,10439,OI,24171_1003FC00_3,2025-05-15 14:29:34,NaT
12,3269327,10439,OI,24171_1004F969_3,2025-05-15 13:29:35,NaT
13,3269328,10439,OI,24171_1004CA15_2,2025-05-15 12:49:11,NaT

# Plot Each OI Alert

In [5]:
folder = 'OI Alert Plots'

if os.path.isdir(folder):
    shutil.rmtree(folder)

os.makedirs(folder)

In [6]:
for index, row in OI_alerts.iterrows():
    query = f"""
    SELECT
        pressure_date,
        sensor_data.unique_id,
        set_point,
        pressure,
        speed
    FROM
        {schema}.sensor_data INNER JOIN {schema}.meta_data
            ON sensor_data.meta_data_id = meta_data.id
    WHERE
        sensor_data.unique_id = '{row['unique_id']}'
        AND pressure_date >= '{row['pressure_date'] - pd.Timedelta(hours=48)}'
        AND pressure_date <= '{row['pressure_date'] + pd.Timedelta(hours=48)}'
    ORDER BY
        pressure_date ASC
    """
    sensor_data = pd.read_sql(query, engine)

    # Create the plot
    fig = go.Figure()

    # Add pressure line (solid blue)
    fig.add_trace(go.Scatter(
        x=sensor_data['pressure_date'],
        y=sensor_data['pressure'],
        mode='lines',
        name='Pressure',
        line=dict(color='blue', width=2)
    ))

    # Add set_point line (dashed black)
    fig.add_trace(go.Scatter(
        x=sensor_data['pressure_date'],
        y=sensor_data['set_point'],
        mode='lines',
        name='Set Point',
        line=dict(color='black', width=2, dash='dash')
    ))

    # Add vertical red line at the alert's pressure_date
    fig.add_trace(go.Scatter(
        x=[row['pressure_date'], row['pressure_date']],
        y=[0, 145],
        mode='lines',
        name='Alert Time',
        line=dict(color='red', width=2, dash='dot')
    ))

    if not pd.isna(row['ts_closed']):
        # Add vertical red line at the alert's pressure_date
        fig.add_trace(go.Scatter(
            x=[row['ts_closed'], row['ts_closed']],
            y=[0, 145],
            mode='lines',
            name='Alert Time',
            line=dict(color='red', width=2)
        ))

    # Update layout
    fig.update_layout(
        title=f"Alert {row['event_id']}",
        xaxis_title="Pressure Date",
        yaxis_title="Pressure (PSI)",
        template="simple_white",
        yaxis=dict(range=[0, 140]),
        legend=dict(x=0, y=1)
    )

    fig.write_html(f"OI Alert Plots/Alert {row['event_id']}.html")


shutil.make_archive('OI_alert_plots', 'zip', 'OI Alert Plots')

'/home/sagemaker-user/SaroshSopariwalla/2025_04_28 Validating OI Alerts/OI_alert_plots.zip'

# Investigate OI Alert

In [7]:
OI_alerts

,event_id,vehicle_id,event_type,unique_id,pressure_date,ts_closed
0,3268077,5070,OI,5457_D5D505,2025-05-13 15:08:30,NaT
1,3268124,5070,OI,5457_758986,2025-05-13 16:17:13,NaT
2,3268349,3980,OI,4103_8E8D09,2025-05-13 21:39:57,2025-05-13 22:16:30
3,3268423,8080,OI,15169_B0F4D6DC,2025-05-14 00:54:20,NaT
4,3268810,5067,OI,5454_D5D83F,2025-05-14 20:50:08,NaT
5,3268840,4084,OI,4120_1F650C,2025-05-14 21:59:38,2025-05-15 00:31:48
6,3268845,5189,OI,5608_D5D5FA,2025-05-14 22:22:28,NaT
7,3269047,6700,OI,12324_B0A3A4E8,2025-05-15 11:05:32,NaT
8,3269320,10439,OI,24171_1003FC00_2,2025-05-15 16:59:33,NaT
9,3269322,10439,OI,24171_1004CA15_3,2025-05-15 12:49:11,NaT
10,3269324,10439,OI,24171_1004F969_2,2025-05-15 13:29:35,NaT
11,3269326,10439,OI,24171_1003FC00_3,2025-05-15 14:29:34,NaT
12,3269327,10439,OI,24171_1004F969_3,2025-05-15 13:29:35,NaT
13,3269328,10439,OI,24171_1004CA15_2,2025-05-15 12:49:11,NaT

In [12]:
row = OI_alerts.iloc[5]

In [13]:
query = f"""
SELECT
    pressure_date,
    sensor_data.unique_id,
    set_point,
    pressure,
    speed
FROM
    {schema}.sensor_data INNER JOIN {schema}.meta_data
        ON sensor_data.meta_data_id = meta_data.id
WHERE
    sensor_data.unique_id = '{row['unique_id']}'
    AND pressure_date >= '{row['pressure_date'] - pd.Timedelta(hours=48)}'
    AND pressure_date <= '{row['pressure_date'] + pd.Timedelta(hours=48)}'
ORDER BY
    pressure_date ASC
"""
sensor_data = pd.read_sql(query, engine)

In [14]:
sensor_data

        pressure_date         unique_id  set_point  pressure speed
0 2025-05-04 22:18:41  24373_1006FE41_3        100       120  None
1 2025-05-04 22:18:41  24373_1006FE41_3        100       120  None
2 2025-05-04 22:18:41  24373_1006FE41_3        100       120  None