# Imports

In [2]:
from PAL import *
engine = Redshift_Connection('ssopariwalla')

# Load Operational Pressure Data for Right Steer

In [3]:
schema = account_schema_mapping['MTS']
query = f"""
SELECT DISTINCT 
    fleet_meta_data.code,
    fleet_meta_data.fleet_name,
    vehicle_meta_data.vehicle_id,
    vehicle_meta_data.fleet_vehicle_id,
    meta_data.side || meta_data.axle || meta_data.position as tire,
    meta_data.type,
    meta_data.set_point,
    sensor_data.pressure_date,
    sensor_data.pressure,
    sensor_data.latitude,
    sensor_data.longitude,
    sensor_data.speed,
    sensor_data.temperature
FROM
    {schema}.fleet_meta_data
    INNER JOIN {schema}.vehicle_meta_data ON fleet_meta_data.fleet_id = vehicle_meta_data.fleet_id
    INNER JOIN {schema}.meta_data ON vehicle_meta_data.vehicle_id = meta_data.vehicle_id
    INNER JOIN {schema}.sensor_data ON meta_data.id = sensor_data.meta_data_id
WHERE
    vehicle_meta_data.vehicle_id = 11352
    AND sensor_data.pressure_date >= '2025-05-08'
    AND meta_data.side || meta_data.axle || meta_data.position = 'R3O'
ORDER BY tire, pressure_date ASC
"""
df = pd.read_sql(query,engine)

In [6]:
df.to_excel(f"{df['fleet_name'].iloc[0]} {df['fleet_vehicle_id'].iloc[0]} {df['tire'].iloc[0]} Sensor Data.xlsx",index = False)

In [7]:
df

,code,fleet_name,vehicle_id,fleet_vehicle_id,tire,type,set_point,pressure_date,pressure,latitude,longitude,speed,temperature
0,N3NNWMI,Premier Transportation,11352,J25133,R3O,T,100,2025-05-08 00:33:11,107,38.865238,-94.832222,0.25,22.0
1,N3NNWMI,Premier Transportation,11352,J25133,R3O,T,100,2025-05-08 02:58:10,103,37.783852,-93.568161,0.00,16.0
2,N3NNWMI,Premier Transportation,11352,J25133,R3O,T,100,2025-05-08 03:18:10,102,37.783852,-93.568222,0.10,16.0
3,N3NNWMI,Premier Transportation,11352,J25133,R3O,T,100,2025-05-08 03:48:09,101,37.783772,-93.568169,0.00,16.0
4,N3NNWMI,Premier Transportation,11352,J25133,R3O,T,100,2025-05-08 04:48:09,100,37.783840,-93.568199,0.00,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,N3NNWMI,Premier Transportation,11352,J25133,R3O,T,100,2025-05-12 16:27:37,102,38.069092,-97.897560,1.64,29.0
491,N3NNWMI,Premier Transportation,11352,J25133,R3O,T,100,2025-05-12 16:32:37,102,38.068951,-97.897530,0.00,30.0
492,N3NNWMI,Premier Transportation,11352,J25133,R3O,T,100,2025-05-12 16:37:37,101,38.068920,-97.897591,0.10,31.0
493,N3NNWMI,Premier Transportation,11352,J25133,R3O,T,100,2025-05-12 17:12:36,101,38.068871,-97.897682,0.10,33.0
494,N3NNWMI,Premier Transportation,11352,J25133,R3O,T,100,2025-05-12 17:17:36,101,38.069721,-97.898193,1.69,33.0

In [7]:
query = f"""
SELECT DISTINCT 
    fleet_meta_data.fleet_name,
    vehicle_meta_data.fleet_vehicle_id,
    meta_data.side || meta_data.axle || meta_data.position as tire,
    event_table.event_id as alert_id,
    event_table.event_type,
    event_table.pressure_date
FROM
    {schema}.fleet_meta_data
    INNER JOIN {schema}.vehicle_meta_data ON fleet_meta_data.fleet_id = vehicle_meta_data.fleet_id
    INNER JOIN {schema}.meta_data ON vehicle_meta_data.vehicle_id = meta_data.vehicle_id
    INNER JOIN {schema}.event_table ON meta_data.unique_id = event_table.unique_id
WHERE
    vehicle_meta_data.vehicle_id = 9727
    AND event_table.pressure_date >= '2025-05-01'
ORDER BY pressure_date ASC
"""
detected_tire_events = pd.read_sql(query,engine)

In [8]:
detected_tire_events

Empty DataFrame
Columns: [fleet_name, fleet_vehicle_id, tire, alert_id, event_type, pressure_date]
Index: []